.suggestionLabel
{
    font-family: monospace;
    font-size: 1.3em;
    background: #ded3d3;
    cursor: pointer;
    margin-top: 1%;
}
.appDiv
{
    margin: 2% 0;
    
}
h3
{
    margin-top: 3%;
}

